span.cm-rainbow.cm-bracket {color: #AAA;}
span.cm-rainbow.cm-bracket.cm-bracket1 {color: #AAA;} /* Gray */
span.cm-rainbow.cm-bracket.cm-bracket2 {color: #0F0;} /* Green */
span.cm-rainbow.cm-bracket.cm-bracket3 {color: #00FFFF;} /* Cyan */
span.cm-rainbow.cm-bracket.cm-bracket4 {color: #836FFF;} /* Violet */
span.cm-rainbow.cm-bracket.cm-bracket5 {color: #FF00FF;} /* Magenta */
span.cm-rainbow.cm-bracket.cm-bracket6 {color: #9B30FF;} /* Purple */
span.cm-rainbow.cm-bracket.cm-bracket7 {color: #00ff7f;} /* Spring Green */
span.cm-rainbow.cm-bracket.cm-bracket8 {color: #AAA;} /* Gray */
span.cm-rainbow.cm-bracket.cm-bracket9 {color: #0F0;} /* Green */
span.cm-rainbow.cm-bracket.cm-bracket10 {color: #00FFFF;} /* Cyan */
span.cm-rainbow.cm-bracket.cm-bracket11 {color: #836FFF;} /* Violet */
span.cm-rainbow.cm-bracket.cm-bracket12 {color: #FF00FF;} /* Magenta */
span.cm-rainbow.cm-bracket.cm-bracket13 {color: #9B30FF;} /* Purple */
span.cm-rainbow.cm-bracket.cm-bracket14 {color: #00ff7f;} /* Spring Green */
span.cm-rainbow.cm-bracket.cm-bracket15 {color: #AAA;} /* Gray */
span.cm-rainbow.cm-bracket.cm-bracket16 {color: #0F0;} /* Green */
span.cm-rainbow.cm-bracket.cm-bracket17 {color: #00FFFF;} /* Cyan */
span.cm-rainbow.cm-bracket.cm-bracket18 {color: #836FFF;} /* Violet */
span.cm-rainbow.cm-bracket.cm-bracket19 {color: #FF00FF;} /* Magenta */
span.cm-rainbow.cm-bracket.cm-bracket20 {color: #9B30FF;} /* Purple */
span.cm-rainbow.cm-bracket.cm-bracket21 {color: #00ff7f;} /* Spring Green */
